@import url(style.css);
.body-main {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 320px) {
  .body-main {
    padding-top: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-main {
    padding-top: 3.125rem;
  }
}
@media (min-width: 320px) {
  .body-main {
    padding-bottom: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-main {
    padding-bottom: 3.125rem;
  }
}
.body-main__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (min-width: 320px) {
  .body-main__container {
    row-gap: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-main__container {
    row-gap: 3.125rem;
  }
}
.body-main__button {
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}
@media (max-width: 37.53125rem) {
  .body-main__button {
    max-width: none;
    width: 100%;
  }
}

.cart-products {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-radius: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.cart-products__empty {
  font-family: "Roboto";
  margin: 0 auto;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .cart-products__empty {
    font-size: calc(0.875rem + (100vw - 320px) * ((32 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .cart-products__empty {
    font-size: 2rem;
  }
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (min-width: 320px) {
  .cart-product {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((100 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((100 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .cart-product {
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
  }
}
@media (max-width: 30.03125rem) {
  .cart-product {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.cart-product:not(:last-child) {
  border-bottom: 3px solid #FFFEFB;
}
.cart-product:not(:last-child, :first-child) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.cart-product:first-child {
  padding-bottom: 0.625rem;
}
.cart-product:last-child {
  padding-top: 0.625rem;
}
.cart-product__product {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1 1 auto;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.cart-product__product img {
  width: 6.25rem;
  border-radius: 1.25rem;
}
@media (max-width: 37.53125rem) {
  .cart-product__product img {
    display: none;
  }
}
.cart-product__title {
  font-size: 1rem;
}
@media (min-width: 320px) {
  .cart-product__title {
    font-size: calc(1rem + (100vw - 320px) * ((20 - 16)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .cart-product__title {
    font-size: 1.25rem;
  }
}
.cart-product__amount {
  position: relative;
  width: 6.5625rem;
  border: 2px solid #0E2406;
  border-radius: 0.625rem;
  overflow: hidden;
  flex-shrink: 0;
}
.cart-product__amount span {
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #0E2406;
  filter: brightness(0%);
  background: url("../img/svg/arrow.svg") center no-repeat;
  cursor: pointer;
}
@media (any-hover: hover) {
  .cart-product__amount span:hover {
    background: rgba(255, 0, 0, 0.199) url("../img/svg/arrow.svg") center no-repeat;
  }
}
.cart-product__amount span:first-child {
  top: -2px;
  right: -2px;
  transform: rotate(-90deg);
}
.cart-product__amount span:last-child {
  bottom: -2px;
  right: -2px;
  transform: rotate(90deg);
}
.cart-product__amount input {
  width: 6.5625rem;
  height: 3.125rem;
  font-size: 1.5rem;
  padding-left: 0.3125rem;
  padding-right: 2.1875rem;
}
.cart-product__amount input::-webkit-outer-spin-button,
.cart-product__amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-product__amount input[type=number] {
  -moz-appearance: textfield;
}
.cart-product__total {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}
@media (min-width: 320px) {
  .cart-product__total {
    font-size: calc(1rem + (100vw - 320px) * ((20 - 16)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .cart-product__total {
    font-size: 1.25rem;
  }
}
.cart-product__total > :first-child {
  color: #959595;
}