@import url(style.css);
.main {
  font-family: "Roboto";
}
.body-main {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 320px) {
  .body-main {
    padding-top: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-main {
    padding-top: 3.125rem;
  }
}
@media (min-width: 320px) {
  .body-main {
    padding-bottom: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-main {
    padding-bottom: 3.125rem;
  }
}
.body-main__container {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
@media (min-width: 320px) {
  .body-main__container {
    gap: calc(1.25rem + (100vw - 320px) * ((180 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-main__container {
    gap: 11.25rem;
  }
}
@media (max-width: 38.78125rem) {
  .body-main__container {
    flex-direction: column;
  }
}
@media (min-width: 56.28125rem) {
  .filter {
    min-width: 21.625rem;
  }
}
.filter__spollers {
  display: flex;
  flex-direction: column;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #EAEAEA;
  border-radius: 33px;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media (min-width: 320px) {
  .filter__spollers {
    padding-left: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .filter__spollers {
    padding-left: 3.125rem;
  }
}
@media (min-width: 320px) {
  .filter__spollers {
    padding-right: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .filter__spollers {
    padding-right: 3.125rem;
  }
}
.filter__button {
  width: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 320px) {
  .filter__button {
    padding-top: calc(0.625rem + (100vw - 320px) * ((20 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .filter__button {
    padding-top: 1.25rem;
  }
}
@media (min-width: 320px) {
  .filter__button {
    padding-bottom: calc(0.625rem + (100vw - 320px) * ((20 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .filter__button {
    padding-bottom: 1.25rem;
  }
}

.price-filter__inputs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
}
.price-filter__inputs::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 3px;
  background-color: #0E2406;
}
.price-filter__input {
  width: 6.25rem;
  height: 2.5rem;
  background: #FFFEFB;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.625rem;
  text-align: center;
  font-size: 1rem;
}
.nouislider,
.noUi-horizontal {
  height: 5px;
  margin-bottom: 0.625rem;
}
.nouislider .noUi-base,
.nouislider .noUi-connects,
.noUi-horizontal .noUi-base,
.noUi-horizontal .noUi-connects {
  height: 5px;
  background: #959595;
  border-radius: 30px;
}
.nouislider .noUi-handle,
.noUi-horizontal .noUi-handle {
  position: absolute;
  background-color: #959595;
  top: 50%;
  transform: translate(-15%, calc(-50% + 2px));
  border-radius: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.nouislider .noUi-handle::after,
.noUi-horizontal .noUi-handle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  background-color: #7ECF2C;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
}
.nouislider .noUi-handle::before,
.noUi-horizontal .noUi-handle::before {
  content: "";
  display: none;
}

.checkbox-filter__row {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
  cursor: pointer;
}
.checkbox-filter__row input {
  display: none;
}
.checkbox-filter__row input:checked ~ span {
  transform: translate(-50%, -50%) scale(1);
}
.checkbox-filter__row label {
  cursor: pointer;
}
.checkbox-filter__checkmark {
  position: relative;
  width: 1.0625rem;
  height: 1.0625rem;
  background-color: #FFFEFB;
  border-radius: 50%;
  cursor: pointer;
}
.checkbox-filter__checkmark span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #7ECF2C;
  transition: transform 0.3s ease;
}

.products {
  flex: 1 1 auto;
}

.swiper-category-products {
  position: relative;
  overflow: hidden;
}
@media (min-width: 38.78125rem) {
  .swiper-category-products .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 290px));
    justify-content: space-between;
    justify-items: center;
    row-gap: 2.5rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
@media (min-width: 38.78125rem) and (max-width: 59.40625rem) {
  .swiper-category-products .swiper-wrapper {
    justify-content: center;
  }
}
@media (min-width: 38.78125rem) and (min-width: 320px) {
  .swiper-category-products .swiper-wrapper {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((80 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((80 - 20)/(1920 - 320)));
  }
}
@media (min-width: 38.78125rem) and (min-width: 1920px) {
  .swiper-category-products .swiper-wrapper {
    -moz-column-gap: 5rem;
    column-gap: 5rem;
  }
}
.swiper-category-products .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-category-products .swiper-button-lock {
  display: none;
}

.pagination-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 3.125rem;
  font-size: 1.5rem;
}
@media (min-width: 320px) {
  .pagination-main {
    font-size: calc(1.5rem + (100vw - 320px) * ((32 - 24)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .pagination-main {
    font-size: 2rem;
  }
}
@media (any-hover: hover) {
  .pagination-main__page {
    transition: color 0.3s ease;
  }
  .pagination-main__page:hover:not(.pagination-main__current) {
    color: #7ECF2C;
  }
}
.pagination-main__current {
  position: relative;
}
.pagination-main__current::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #7ECF2C;
  z-index: -1;
}