@import url(style.css);
.main {
  font-family: "Roboto";
}
.main__first {
  background: url("../img/bg.png") center bottom/cover;
  background-repeat: no-repeat;
}
.first-main {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 320px) {
  .first-main {
    padding-top: calc(1.25rem + (100vw - 320px) * ((70 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main {
    padding-top: 4.375rem;
  }
}
@media (min-width: 320px) {
  .first-main {
    padding-bottom: calc(0.625rem + (100vw - 320px) * ((70 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main {
    padding-bottom: 4.375rem;
  }
}
.first-main__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (min-width: 320px) {
  .first-main__container {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((120 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((120 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main__container {
    -moz-column-gap: 7.5rem;
    column-gap: 7.5rem;
  }
}
@media (max-width: 56.28125rem) {
  .first-main__container {
    justify-content: center;
  }
}
.first-main__content {
  flex: 0 1 57.5rem;
}
.first-main__title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
@media (min-width: 320px) {
  .first-main__title {
    margin-bottom: calc(1.25rem + (100vw - 320px) * ((60 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main__title {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 320px) {
  .first-main__title {
    font-size: calc(1rem + (100vw - 320px) * ((64 - 16)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main__title {
    font-size: 4rem;
  }
}
.first-main__title span {
  color: #7ECF2C;
}
.first-main__subtitle {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 320px) {
  .first-main__subtitle {
    font-size: calc(0.875rem + (100vw - 320px) * ((32 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 320px) {
  .first-main__subtitle {
    margin-bottom: calc(1.25rem + (100vw - 320px) * ((80 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main__subtitle {
    margin-bottom: 5rem;
  }
}
.first-main__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (min-width: 320px) {
  .first-main__buttons {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((100 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((100 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .first-main__buttons {
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem;
  }
}
@media (max-width: 37.53125rem) {
  .first-main__buttons {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
@media (max-width: 37.53125rem) {
  .first-main__categories {
    width: 100%;
  }
}
@media (max-width: 37.53125rem) {
  .first-main__contact-us {
    width: 100%;
  }
}
.first-main__img {
  flex: 0 1 29.1875rem;
}
@media (max-width: 56.28125rem) {
  .first-main__img {
    display: none;
  }
}
.first-main__img img {
  width: 100%;
}

.benefits-main {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 320px) {
  .benefits-main {
    padding-top: calc(0.625rem + (100vw - 320px) * ((50 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main {
    padding-top: 3.125rem;
  }
}
@media (min-width: 320px) {
  .benefits-main {
    padding-bottom: calc(0.625rem + (100vw - 320px) * ((50 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main {
    padding-bottom: 3.125rem;
  }
}
.benefits-main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
@media (min-width: 320px) {
  .benefits-main__container {
    gap: calc(1.25rem + (100vw - 320px) * ((190 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__container {
    gap: 11.875rem;
  }
}
@media (max-width: 48.03125rem) {
  .benefits-main__container {
    flex-direction: column;
  }
}
.benefits-main__benefit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #7ECF2C;
  border-radius: 39px;
  padding: 0 0.75rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  row-gap: 0.625rem;
}
@media (min-width: 320px) {
  .benefits-main__benefit {
    padding-top: calc(0.9375rem + (100vw - 320px) * ((25 - 15)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__benefit {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 320px) {
  .benefits-main__benefit {
    padding-bottom: calc(0.9375rem + (100vw - 320px) * ((25 - 15)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__benefit {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 320px) {
  .benefits-main__benefit {
    row-gap: calc(0.625rem + (100vw - 320px) * ((20 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__benefit {
    row-gap: 1.25rem;
  }
}
@media (any-hover: hover) {
  .benefits-main__benefit {
    transition: box-shadow 0.3s ease;
  }
  .benefits-main__benefit:hover {
    box-shadow: inset 0px 0px 10px #7ECF2C;
  }
}
.benefits-main__icon img {
  height: 2.1875rem;
}
@media (min-width: 320px) {
  .benefits-main__icon img {
    height: calc(2.1875rem + (100vw - 320px) * ((72 - 35)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__icon img {
    height: 4.5rem;
  }
}
.benefits-main__title {
  font-weight: 500;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .benefits-main__title {
    font-size: calc(0.875rem + (100vw - 320px) * ((20 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__title {
    font-size: 1.25rem;
  }
}
.benefits-main__text {
  max-width: 17.3125rem;
  text-align: center;
  font-size: 0.75rem;
}
@media (min-width: 320px) {
  .benefits-main__text {
    font-size: calc(0.75rem + (100vw - 320px) * ((16 - 12)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .benefits-main__text {
    font-size: 1rem;
  }
}

.slider {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 320px) {
  .slider {
    padding-top: calc(0.625rem + (100vw - 320px) * ((50 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .slider {
    padding-top: 3.125rem;
  }
}
@media (min-width: 320px) {
  .slider {
    padding-bottom: calc(0.625rem + (100vw - 320px) * ((50 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .slider {
    padding-bottom: 3.125rem;
  }
}
.slider__title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .slider__title {
    margin-bottom: calc(1.25rem + (100vw - 320px) * ((40 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .slider__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 320px) {
  .slider__title {
    font-size: calc(0.875rem + (100vw - 320px) * ((36 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .slider__title {
    font-size: 2.25rem;
  }
}

.swiper-products {
  overflow-x: hidden;
  position: relative;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category__title {
  text-align: center;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}
@media (min-width: 320px) {
  .category__title {
    font-size: calc(1rem + (100vw - 320px) * ((24 - 16)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .category__title {
    font-size: 1.5rem;
  }
}
.category__img {
  border-radius: 2.25rem;
  overflow: hidden;
  width: 13.125rem;
}
@media (min-width: 320px) {
  .category__img {
    width: calc(13.125rem + (100vw - 320px) * ((250 - 210)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .category__img {
    width: 15.625rem;
  }
}
.category__img img {
  width: 100%;
}
@media (any-hover: hover) {
  .category__img img {
    transition: transform 1s ease;
  }
  .category:hover img {
    transform: scale(1.2);
  }
}

.swiper-categories {
  position: relative;
}
@media (min-width: 38.78125rem) {
  .swiper-categories .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 250px));
    justify-content: space-between;
    justify-items: center;
    row-gap: 2.5rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
@media (min-width: 38.78125rem) and (max-width: 59.40625rem) {
  .swiper-categories .swiper-wrapper {
    justify-content: center;
  }
}
@media (min-width: 38.78125rem) and (min-width: 320px) {
  .swiper-categories .swiper-wrapper {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((80 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((80 - 20)/(1920 - 320)));
  }
}
@media (min-width: 38.78125rem) and (min-width: 1920px) {
  .swiper-categories .swiper-wrapper {
    -moz-column-gap: 5rem;
    column-gap: 5rem;
  }
}
.swiper-categories .swiper-button-lock {
  display: none;
}

.categories-main {
  overflow-x: hidden;
  padding-bottom: 1.25rem;
}
@media (min-width: 320px) {
  .categories-main {
    padding-bottom: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .categories-main {
    padding-bottom: 3.125rem;
  }
}