body {
  font-family: "Lato";
  font-size: 1rem;
  color: #0E2406;
  background-color: #FFFEFB;
  overflow-x: hidden;
}

.container {
  max-width: 1660px;
  padding: 0 20px;
  margin: 0 auto;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

li {
  list-style-type: none;
}

input {
  border: none;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.icon-menu {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 3;
}
@media (min-width: 60.03125rem) {
  .icon-menu {
    display: none;
  }
}
.icon-menu::after, .icon-menu::before,
.icon-menu span {
  position: absolute;
  left: 50%;
  width: 34px;
  height: 5px;
  background-color: #7ECF2C;
  border-radius: 3px;
  border: #000;
  content: "";
  transition: ease 0.3s;
}
.icon-menu::before {
  top: calc(5px);
  transform: translate(-50%);
}
.icon-menu::after {
  top: calc(100% - 5px);
  transform: translate(-50%, -100%);
}
.icon-menu span {
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-menu_active::before {
  top: calc(50% - 24px / 2);
  left: calc(50% - 24px / 2);
  transform: translate(-50%, -50%) rotate(45deg) translate(50%);
  width: calc(24px / 0.707 / 2 - 5px / 4);
}
.icon-menu_active::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) translate(50%);
  width: calc(24px / 0.707 / 2 - 5px / 4);
}
.icon-menu_active span {
  top: calc(50% - 5px / 2);
  width: calc(24px / 0.707);
  transform: translate(-50%) rotate(-45deg);
}

.icon-menu__body {
  position: absolute;
  top: 72px;
  left: -100%;
  transition: 0.3s ease left;
  background-color: #EAEAEA;
  width: 100vw;
  z-index: 3;
  padding: 0.625rem 1.25rem;
  border-top: #FFFEFB solid 1px;
}
@media (min-width: 60.03125rem) {
  .icon-menu__body {
    display: none;
  }
}
.icon-menu__body_active {
  left: 0;
}
.icon-menu__body .top-header__links {
  flex-direction: column;
  row-gap: 1.25rem;
}
.icon-menu__body .top-header__links a {
  display: inline-block;
  width: 100%;
}

.spoller_initialized > :not(button) {
  transition: transform 0.3s ease, height 0.3s ease, padding 0.3s ease, margin 0.3s ease, border-width 0.3s ease;
  overflow: hidden;
}

.spoller_initialized.spoller_active > :not(button, [style]) {
  overflow: visible;
}

.spoller .icon-menu-spoller-body {
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.3s ease;
  padding: 0.625rem 1.25rem;
  background-color: #EAEAEA;
  width: 100%;
  border-top: #FFFEFB solid 1px;
}
.spoller .icon-menu-spoller-body .categories-header__list {
  flex-direction: column;
  align-items: start;
  row-gap: 1.25rem;
}
.spoller .icon-menu-spoller-body .categories-header__item {
  width: 100%;
}
.spoller .icon-menu-spoller-body .categories-header__item a {
  padding: 0;
  width: 100%;
}
@media (min-width: 51.28125rem) {
  .icon-menu-spollers .spoller {
    display: none;
  }
}
.icon-menu-spollers .spoller .spoller__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoller_active .icon-menu-spoller-body {
  left: 0;
}

.spollers-filter .spoller {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.spollers-filter .spoller:not(:last-child) {
  border-bottom: 1px solid #FFFEFB;
}
.spollers-filter .spoller__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .spollers-filter .spoller__title {
    font-size: calc(0.875rem + (100vw - 320px) * ((16 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .spollers-filter .spoller__title {
    font-size: 1rem;
  }
}
.spollers-filter .spoller__title img {
  transition: transform 0.3s ease;
  filter: brightness(0%);
  transform: rotate(90deg);
}
.spollers-filter .spoller__body {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.spollers-filter .spoller_active .spoller__title img {
  transform: rotate(-90deg);
}

.breadcrumbs {
  color: #959595;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .breadcrumbs {
    font-size: calc(0.875rem + (100vw - 320px) * ((32 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .breadcrumbs {
    font-size: 2rem;
  }
}
.breadcrumbs__current {
  color: #7ECF2C;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #FFFEFB;
  background: linear-gradient(180deg, #B5ED7B 0%, #7ECF2C 100%);
  padding: 0 4.0625rem;
  border-radius: 1.4375rem;
  font-weight: 700;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1rem;
}
@media (min-width: 320px) {
  .button {
    padding-top: calc(0.625rem + (100vw - 320px) * ((27 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .button {
    padding-top: 1.6875rem;
  }
}
@media (min-width: 320px) {
  .button {
    padding-bottom: calc(0.625rem + (100vw - 320px) * ((27 - 10)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .button {
    padding-bottom: 1.6875rem;
  }
}
@media (min-width: 320px) {
  .button {
    font-size: calc(1rem + (100vw - 320px) * ((32 - 16)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .button {
    font-size: 2rem;
  }
}
@media (any-hover: hover) {
  .button {
    transition: box-shadow 0.3s ease;
  }
  .button:hover {
    box-shadow: inset 0rem 0.3125rem 0.4375rem rgba(126, 207, 44, 0.6705882353), inset 0rem -0.0625rem 0.3125rem rgba(255, 254, 251, 0.6784313725);
  }
}

.footer {
  background-color: #EAEAEA;
  font-family: "Roboto";
  color: #959595;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 320px) {
  .footer {
    padding-top: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-top: 3.125rem;
  }
}
@media (min-width: 320px) {
  .footer {
    padding-bottom: calc(1.25rem + (100vw - 320px) * ((50 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-bottom: 3.125rem;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (max-width: 30.03125rem) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.footer__logo {
  width: 8.3125rem;
}
.footer__logo img {
  width: 100%;
}
.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem;
}
.footer__right {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-auto-flow: column;
  row-gap: 1.25rem;
  -moz-column-gap: 4.375rem;
  column-gap: 4.375rem;
  font-size: 0.875rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (min-width: 320px) {
  .footer__right {
    font-size: calc(0.875rem + (100vw - 320px) * ((20 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .footer__right {
    font-size: 1.25rem;
  }
}
@media (min-width: 320px) {
  .footer__right {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((70 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((70 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .footer__right {
    -moz-column-gap: 4.375rem;
    column-gap: 4.375rem;
  }
}
@media (max-width: 30.03125rem) {
  .footer__right {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (any-hover: hover) {
  .footer__link {
    transition: color 0.3s ease;
  }
  .footer__link:hover {
    color: #7ECF2C;
  }
}

.disable-scroll {
  overflow: hidden;
}

.header {
  font-family: "Roboto";
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .header {
    font-size: calc(0.875rem + (100vw - 320px) * ((24 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .header {
    font-size: 1.5rem;
  }
}
@media (max-width: 51.28125rem) {
  .header {
    background-color: #EAEAEA;
  }
}
@media (any-hover: hover) {
  .header a:hover {
    color: #7ECF2C;
    cursor: pointer;
  }
}

.top-header {
  padding: 0.875rem 0;
}
.top-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.top-header__links {
  display: flex;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
}
@media (min-width: 60.03125rem) {
  .top-header__links {
    max-width: 39.5625rem;
  }
}
@media (min-width: 30.03125rem) {
  .top-header__link-cart {
    display: none;
  }
}
.top-header__account {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (min-width: 320px) {
  .top-header__account {
    -moz-column-gap: calc(1.25rem + (100vw - 320px) * ((90 - 20)/(1920 - 320)));
    column-gap: calc(1.25rem + (100vw - 320px) * ((90 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .top-header__account {
    -moz-column-gap: 5.625rem;
    column-gap: 5.625rem;
  }
}
.top-header__entry {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (max-width: 30.03125rem) {
  .top-header__entry span {
    display: none;
  }
}
.top-header__icon {
  width: 2.5rem;
}
@media (min-width: 320px) {
  .top-header__icon {
    width: calc(2.5rem + (100vw - 320px) * ((60 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .top-header__icon {
    width: 3.75rem;
  }
}
.top-header__icon img {
  width: 100%;
}
@media (max-width: 30.03125rem) {
  .top-header__registration {
    display: none;
  }
}

.body-header {
  padding: 0.9375rem 0;
}
@media (max-width: 30.03125rem) {
  .body-header {
    display: none;
  }
}
.body-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.body-header__logo {
  width: 6rem;
}
@media (min-width: 320px) {
  .body-header__logo {
    width: calc(6rem + (100vw - 320px) * ((246 - 96)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__logo {
    width: 15.375rem;
  }
}
.body-header__logo img {
  width: 100%;
}
.body-header__search {
  position: relative;
  border: 2px solid #0E2406;
  border-radius: 13px;
  overflow: hidden;
}
@media (max-width: 56.28125rem) {
  .body-header__search {
    display: none;
  }
}
.body-header__search input {
  padding-right: 0.9375rem;
  font-size: 1.5rem;
  max-width: 31.25rem;
  height: 2.5rem;
  padding-left: 3.0625rem;
}
@media (min-width: 320px) {
  .body-header__search input {
    height: calc(2.5rem + (100vw - 320px) * ((50 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__search input {
    height: 3.125rem;
  }
}
@media (min-width: 320px) {
  .body-header__search input {
    padding-left: calc(3.0625rem + (100vw - 320px) * ((60 - 49)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__search input {
    padding-left: 3.75rem;
  }
}
.body-header__search-icon {
  position: absolute;
  top: center;
  left: 0;
  width: 3.1875rem;
  height: 3.1875rem;
  background-color: #7ECF2C;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 2.5rem;
  height: 2.5rem;
}
@media (min-width: 320px) {
  .body-header__search-icon {
    width: calc(2.5rem + (100vw - 320px) * ((50 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__search-icon {
    width: 3.125rem;
  }
}
@media (min-width: 320px) {
  .body-header__search-icon {
    height: calc(2.5rem + (100vw - 320px) * ((50 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__search-icon {
    height: 3.125rem;
  }
}
.body-header__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
}
.body-header__phone {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media (max-width: 37.53125rem) {
  .body-header__phone span {
    display: none;
  }
}
.body-header__phone-icon {
  width: 2.5rem;
}
@media (min-width: 320px) {
  .body-header__phone-icon {
    width: calc(2.5rem + (100vw - 320px) * ((60 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__phone-icon {
    width: 3.75rem;
  }
}
.body-header__phone-icon img {
  width: 100%;
}
.body-header__favorite {
  width: 2.5rem;
}
@media (min-width: 320px) {
  .body-header__favorite {
    width: calc(2.5rem + (100vw - 320px) * ((60 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__favorite {
    width: 3.75rem;
  }
}
@media (max-width: 30.03125rem) {
  .body-header__favorite {
    display: none;
  }
}
.body-header__favorite img {
  width: 100%;
}
.body-header__cart {
  position: relative;
  width: 2.5rem;
}
@media (min-width: 320px) {
  .body-header__cart {
    width: calc(2.5rem + (100vw - 320px) * ((60 - 40)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .body-header__cart {
    width: 3.75rem;
  }
}
@media (max-width: 30.03125rem) {
  .body-header__cart {
    display: none;
  }
}
.body-header__cart img {
  width: 100%;
}

.cart-number {
  position: absolute;
  color: #0E2406;
  bottom: 0;
  left: 0;
  width: 1.1875rem;
  height: 1.1875rem;
  transform: translateY(-50%);
  background-color: #F2B743;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-family: "Lato";
  font-weight: 900;
}

.categories-header {
  border-top: 0.1875rem solid #7ECF2C;
  border-bottom: 0.1875rem solid #7ECF2C;
  background-color: #EFFFEC;
  padding: 0 10.125rem;
}
@media (max-width: 56.28125rem) {
  .categories-header {
    padding: 0;
  }
}
@media (max-width: 51.28125rem) {
  .categories-header {
    display: none;
  }
}
.categories-header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.categories-header__item a {
  display: inline-block;
  padding: 1.3125rem 0;
}

.hidden {
  display: none !important;
  pointer-events: none !important;
}

.product {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
  border-radius: 15px;
  background-color: #EAEAEA;
  padding: 1.25rem;
  margin: auto;
  width: 13.125rem;
}
@media (min-width: 320px) {
  .product {
    width: calc(13.125rem + (100vw - 320px) * ((290 - 210)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .product {
    width: 18.125rem;
  }
}
.product__img {
  border-radius: 36px;
  overflow: hidden;
  width: 10.625rem;
}
@media (min-width: 320px) {
  .product__img {
    width: calc(10.625rem + (100vw - 320px) * ((250 - 170)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .product__img {
    width: 15.625rem;
  }
}
.product__img img {
  width: 100%;
}
@media (any-hover: hover) {
  .product__img img {
    transition: transform 1s ease;
  }
  .product:hover img {
    transform: scale(1.2);
  }
}
.product__title {
  font-size: 1rem;
}
@media (min-width: 320px) {
  .product__title {
    font-size: calc(1rem + (100vw - 320px) * ((24 - 16)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .product__title {
    font-size: 1.5rem;
  }
}
.product__mass {
  color: #959595;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .product__mass {
    font-size: calc(0.875rem + (100vw - 320px) * ((20 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .product__mass {
    font-size: 1.25rem;
  }
}
.product__button {
  box-shadow: 0px 3px 3px rgba(149, 149, 149, 0.251), inset 0px -2px 3px rgba(149, 149, 149, 0.25);
  border-radius: 20px;
  background-color: #FFFEFB;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
  padding: 0.9375rem;
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .product__button {
    font-size: calc(0.875rem + (100vw - 320px) * ((24 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .product__button {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) {
  .product__button {
    transition: box-shadow 0.3s ease;
  }
  .product__button:hover {
    box-shadow: 0px 0px 0px rgba(149, 149, 149, 0.251), inset 0px 2px 3px rgba(149, 149, 149, 0.363);
  }
}
.product__button s {
  color: #959595;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 1.25rem;
}
@media (min-width: 320px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: calc(1.25rem + (100vw - 320px) * ((28 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 1.75rem;
  }
}
.swiper-button-prev img,
.swiper-button-next img {
  width: 100%;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-prev img {
  transform: rotate(180deg);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-disabled {
  display: none;
}

.top-main {
  font-family: "Roboto";
  background-color: #EAEAEA;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 320px) {
  .top-main {
    padding-top: calc(1.25rem + (100vw - 320px) * ((60 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .top-main {
    padding-top: 3.75rem;
  }
}
@media (min-width: 320px) {
  .top-main {
    padding-bottom: calc(1.25rem + (100vw - 320px) * ((60 - 20)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .top-main {
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 51.28125rem) {
  .top-main {
    border-top: 2px solid #FFFEFB;
  }
}
.top-main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-main__title {
  font-size: 0.875rem;
}
@media (min-width: 320px) {
  .top-main__title {
    font-size: calc(0.875rem + (100vw - 320px) * ((64 - 14)/(1920 - 320)));
  }
}
@media (min-width: 1920px) {
  .top-main__title {
    font-size: 4rem;
  }
}